<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <display-name>Taxis web application</display-name>
  
<!-- Captcha -->
  <filter>
    <filter-name>captcha</filter-name>
    <filter-class>pw.komarov.taxi.captcha.CaptchaFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>captcha</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>captcha-page</servlet-name>
  	<jsp-file>/WEB-INF/jsp/captcha.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>captcha-page</servlet-name>
  	<url-pattern>/captcha</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>captcha-image</servlet-name>
  	<servlet-class>pw.komarov.taxi.captcha.CaptchaServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>captcha-image</servlet-name>
  	<url-pattern>/captcha.image</url-pattern>
  </servlet-mapping>
  
<!-- Struts -->
  <context-param>
    <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
    <param-value>/tiles.xml</param-value>
  </context-param>

  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/taxis/*</url-pattern>
    <url-pattern>*.action</url-pattern>
    <url-pattern>/cities/*</url-pattern>
    <url-pattern>/countries/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>

  <welcome-file-list>
    <welcome-file>/WEB-INF/welcome.jsp</welcome-file>
  </welcome-file-list>
</web-app>
